body {
	background-color: #899198;
	color: #FFFFFF;
}

#unit_converter {
	padding: 10px;
	width: 370px;
}

#flash-notice {
	color: #F00;
}

#conversion_input_label {
/*	text-align: center;*/
}

#conversion_input_field {
	width: 200px;
/*	margin-right: auto;*/
/*	margin-left: auto;*/
}

#results-header {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#results-unit {
	padding-right: 20px;
}

#results {
	width: 300px;
}

body {
	min-width: 400px; /* To avoid some problem with IE6, see: http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ */
}

#unit_list {
	width: 350px;
	height: 480px;
	background-color: #737A80;
}

#types_left {
	margin: 10px;
	width: 150px;
	overflow: hidden;
	background-color: #737A80;
	float: left;
	border: 1px solid #999;
}

#types_right {
	margin: 10px;
	width: 150px;
	overflow: hidden;
	background-color: #737A80;
	float: right;
	border: 1px solid #999;	
}

#type-header {
	font-weight: bold;
}

#type {
	margin-bottom: 5px;
}

#units {
	font-style: italic;
}

#loading {
	float: right;
}

#show_units {
	width: 140px;
	cursor: pointer;
	/*border: 1px solid #999;*/
	padding-left: 3px;
	background-color: #737A80;
}

#footer {
	font-size: 75%;
	font-style: italic;
	margin-top: 10px;
}

#title {
	text-align: center;
	padding-bottom: 40px;
	color: black;
	font-size: 24px;
}

/*AutoCompletion*/

div.auto_complete { 
width: 350px; 
background: #fff; 
color: black;
} 
div.auto_complete ul { 
border:1px solid #888; 
margin:0; 
padding:0; 
width:100%; 
list-style-type:none; 
color: black;
} 
div.auto_complete ul li { 
margin:0; 
padding:3px; 
color: black;
} 
div.auto_complete ul li.selected { 
background-color: #ffb; 
color: black;
} 
div.auto_complete ul strong.highlight { 
color: #800; 
margin:0; 
padding:0; 
color: black;
}